{% extends "boilerplate.html" %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="../static/styles/form.css">

{% endblock %}
{% block content %}

    <div class="container d-flex justify-content-center align-items-center mt-5 mb-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4 col-sm-8 offset-sm-2">
            <div class="card shadow">
                <img src="https://images.unsplash.com/photo-1623118175847-6abf2040c89a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
                    alt="" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Register</h5>
                    <form action="/register" method="POST" class="needs-validation" novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="name">Name</label>
                            <input class="form-control" type="text" id="name" placeholder="Enter your name" name="name" autofocus required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="email">Email</label>
                            <input class="form-control" type="email" id="email" placeholder="Enter your email" name="email" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="balance">Current Balance</label>
                            <input class="form-control" type="text" placeholder="Enter your current balance" id="balance" name="balance" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <button class="btn btn-lg btn-success btn-block text-center"><i class="fas fa-cash-register pe-2"></i>REGISTER</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}